{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% for address in addresses %}
  <li>{{ address.username }}@{{ address.domain.name }}
	{% if address.active %} active {% else %} inactive {% endif %}
	<form method="POST" action="/address/{{ address.id }}?__METHOD_OVERRIDE__=DELETE">
	  <input type="hidden" value="{{ address.id }}" />
	  <input type="submit" value="Delete" />
	</form>
  </li>
{% endfor %}


<form method="POST" action="/address">
  <dl>
	{{ addressform.csrf_token }}
    {{ render_field(addressform.username) }}
    {{ render_field(addressform.password) }}
    {{ render_field(addressform.domain) }}
    {{ render_field(addressform.active) }}
  </dl>
  <p><input type="submit" value="Add" />
</form>
